@font-face{
    font-family: Freight_Sans_Medium;
    src: url(../font/Freight_Sans_Medium_SC.otf);
}

body {
    background-color: whitesmoke;
    font-family: Freight_Sans_Medium;
}

* {
    box-sizing: border-box;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

#main-div{
    width: 80%;
    text-align: center;
    margin-bottom: 15vh;
}

.going {
    background-color: hsl(120, 64%, 66%) !important;
}

.notSure {
    background-color: hsla(39, 75%, 66%, 0.931) !important;
}

.notGoing {
    background-color: rgb(236, 129, 129) !important;
}

.btnStatus {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    width: 15vw;
    background-color: white;
    border: 2px solid #34495e;
    color: #34495e;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btnStatus:hover {
    border: 2px solid #B0B0B0;
}

/* Set the size of the div element that contains the map */
#map {
    margin-top:15px;
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

@media only screen and (max-width: 768px) {
    .answer-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btnStatus {
        width: 50vw;
        margin-bottom: 2vh;
    }
}