body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    height: 300px !important;
    width: 100%;
    display:table;
    text-align:center; 
    font-weight: 700;
    color: white;
    font-size: 60px;    
    background-color: #41B3A3;
         /* background: url("../img/balloons-2826093_1920.jpg") no-repeat center center; */
}

.header p{
  display:table-cell;
  vertical-align:middle;
  margin:auto;
  line-height:51px;
}